@model ApplicationUser
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Style.css" />

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="input" style="text-align:center;margin-top: 55px;">
                <div><label class="form-label"><b>Add New Student</b></label></div><br /><br />
                @* <div class="search mb-3">
                    <input type="search" name="search" class="form-control" placeholder="Enter Student Name">
                    <button class="btn btn-primary">Search</button>
                </div> *@
                <div class="staffInfo">
                    <form asp-action="AddStudent" method="post">
                       @*  <div class="mb-3">
                            <label asp-for="Id" class="form-label">Student Id:</label>
                            <input asp-for="Id" id="Id" class="form-control">
                        </div> *@
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Student Name:</label>
                            <input asp-for="Name" id="Name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email:</label>
                            <input asp-for="Email" id="Email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label asp-for="PhoneNo" class="form-label">Phone No.:</label>
                            <input asp-for="PhoneNo" id="PhoneNo" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Address" class="form-label">Address:</label>
                            <input asp-for="Address" id="Address" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password:</label>
                            <input asp-for="Password" id="password" class="form-control" placeholder="">
                        </div>
                        <button type="submit" id="submit" class="btn btn-success">Add New Student</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
