
@{
    ViewData["Title"] = "EmailSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EmailSent</h1>


<div class="main-w3layouts wrapper">
	<h1>Reset Password</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<h3>Check your Email Inbox Password ResetLink is Sent</h3>
		</div>
		<a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">your Inbox</a>
	</div>
	
	</div>
