@model Feedback

@{
    ViewData["Title"] = "Edit Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Style.css" />
<h2>Edit Feedback</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="FeedbackID" />
       
    <div class="form-group">
        <label asp-for="Feadback">Feedback:</label>
        <textarea class="form-control" asp-for="Feadback" required></textarea>
    </div>

    <div class="form-group">
        <label asp-for="dateTime">Date:</label>
        <input type="date" class="form-control" asp-for="dateTime" required />
    </div>

    <div class="form-group">
        <label asp-for="Rating">Rating:</label>
        <input type="number" class="form-control" asp-for="Rating" required />
    </div>
  @*   <div class="form-group">
        <label asp-for="RequestID">Request ID:</label>
        <input type="number" class="form-control" asp-for="RequestID" required />
    </div>

    <div class="form-group">
        <label asp-for="StudentID">Student ID:</label>
        <input type="number" class="form-control" asp-for="StudentID" required />
    </div> *@

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
