@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Style.css" />

<div class="container mt-5 main">
    <div class="row">
        <!-- Left Side: Text -->
        <div class="col-md-6">
            <h1>About Us</h1>
            <p>
                Welcome to the Student Permit System! We are dedicated to providing a secure and efficient permit system for students to enter and leave the college campus. Our system aims to streamline the process, ensuring the safety and convenience of all students.
            </p>
            <p>
                At the Student Permit System, we prioritize the safety and security of our college community. Our platform offers easy access for students to book permits, allowing them to navigate campus with peace of mind. We are committed to continuously improving our system to meet the evolving needs of our users.
            </p>

        </div>

        <!-- Right Side: Image -->
       @*  <div class="col-md-6">
            <img src="~/Images/userProfile.jpg" alt="Project Image" class="img-fluid">
        </div> *@
    </div>
</div>