@* @model student_permit_system.PL.Models.Contact

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 w-50">
    <h1>Contact Us</h1>
    <form method="post" asp-action="AddComment" asp-controller="Contact">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="Name" placeholder="Your Name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="Email" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="PhoneNo" placeholder="Your Phone Number" required>
        </div>
        <div class="mb-3">
            <label for="comments" class="form-label">Comments</label>
            <textarea class="form-control" id="comments" name="Comments" rows="4" placeholder="Your Comments" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
 *@