<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="wrapper">
        <aside id="sidebar" class="js-sidebar">
            <!-- content for sidebar -->
            <div class="h-100  d-flex flex-column">
                <div class="sidebar-logo">
                    <a href="#">Empower Wash</a>
                </div>
                <ul class="sidebar-nav">

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Home
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-controller="Employee" asp-action="Index" class="sidebar-link collapsed" aria-expanded="false">
                            <i class="fa-solid fa-file-lines pe-2"></i>
                            Employees
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-controller="Students" asp-action="Index" class="sidebar-link collapsed" naria-expanded="false">
                            <i class="fa-solid fa-users"></i>
                            Students
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-controller="Requests" asp-action="Index" class="sidebar-link collapsed" aria-expanded="false">
                            <i class="fa-regular fa-user pe-2"></i>
                            Requests
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mt-auto align-content-center align-items-center m-2">
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                            <img src="~/images/userProfile.jpg" class="avatar img-fluid rounded" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Setting</a>
                            <a href="#" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <div class="pe-2">
                            <a href="#" class="theme-toggle">
                                <i class="fa-regular fa-moon"></i>
                                <i class="fa-regular fa-sun"></i>
                            </a>
                        </div>
                    </ul>
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
